[submodule "xxGraphic"]
	path = SDK/xxGraphic
	url = https://github.com/metarutaiga/xxGraphic
[submodule "freetype"]
	path = SDK/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype
[submodule "imgui"]
	path = SDK/imgui
	url = https://github.com/ocornut/imgui
[submodule "3rdParty/ClangPlatform"]
	path = SDK/ClangPlatform
	url = https://github.com/metarutaiga/ClangPlatform
