[submodule "xxGraphic"]
	path = SDK/xxGraphic
	url = https://github.com/metarutaiga/xxGraphic
[submodule "freetype"]
	path = SDK/freetype
	url = https://github.com/freetype/freetype
[submodule "imgui"]
	path = SDK/imgui
	url = https://github.com/ocornut/imgui
[submodule "3rdParty/ClangPlatform"]
	path = SDK/ClangPlatform
	url = https://github.com/metarutaiga/ClangPlatform
[submodule "SDK/stb"]
	path = SDK/stb
	url = https://github.com/nothings/stb
[submodule "SDK/ImGuiFileDialog"]
	path = SDK/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "SDK/ufbx"]
	path = SDK/ufbx
	url = https://github.com/ufbx/ufbx
[submodule "SDK/IconFontCppHeaders"]
	path = SDK/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "SDK/lua"]
	path = SDK/lua
	url = https://github.com/lua/lua
[submodule "SDK/quickjs"]
	path = SDK/quickjs
	url = https://github.com/metarutaiga/quickjs