.vs/
bin/
lib/
temp/
build/lib/
build/temp/
*.iml
*.vcxproj.user
*.xcscheme
*.xcuserstate
*.xcbkptlist
xcschememanagement.plist
IDEWorkspaceChecks.plist
Minamoto.AndroidStudio/.gitignore
Minamoto.AndroidStudio/.gradle
Minamoto.AndroidStudio/.idea
Minamoto.AndroidStudio/local.properties
Minamoto.AndroidStudio/app/.cxx
Minamoto.AndroidStudio/app/.gitignore
Minamoto.AndroidStudio/app/build
Minamoto.AndroidStudio/build
Minamoto.xcworkspace/xcshareddata
Minamoto.xcworkspace/xcuserdata
